body.common-bg {
    background-color: #f0f0f0;
    background-image: linear-gradient(to bottom, #00A651, #7D9393);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right top;
    overflow: hidden;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: right;
    padding: 20px;
}

header img {
    max-width: 200px;
}

.welcome-img,
.welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100%;
    margin-left: 175px;
}

.sidebar {
    width: 175px;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.user-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ccc;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 95px;
    height: 95px;
    background-color: #29B3A8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

#userImage {
    width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

.user-name {
    font-weight: bold;
    margin-bottom: 5px;
    color: #757575;
}

.user-permission {
    color: #555;
    font-size: 14px;
    margin-bottom: 20px;
    color: #757575;
}

.menu-title {
    font-weight: bold;
    font-size: 20px;
    margin-top: auto;
    margin-bottom: 10px;
    color: #757575;
}

.menu-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #757575;
}

.menu-icon {
    font-size: 24px;
    margin-bottom: 10px;
    color: #757575;
    cursor: pointer;
    position: relative;
}

.menu-icon.active .menu-indicator {
    width: 50%;
    height: 2px;
    background-color: #757575;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
}

.menu-icon.active .menu-indicator {
    background-color: #757575;
}

.logout-button {
    margin-top: auto;
}

.logout-button button {
    background-color: #29B3A8;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 55px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
}

.logout-button button .icon {
    margin-left: 10px;
}

.logout-button button:hover {
    background-color: #1e8c81;
}

.page {
    display: none;
}

.page.active {
    display: block;
}

.planilha-content {
    background-color: #D9D9D9;
    position: fixed;
    top: 60%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 1191px;
    height: 700px;
    padding: 20px;
    text-align: center;
    display: none;
    z-index: 1000;
}

.planilha-content h1 {
    font-size: 24px;
    margin-bottom: 20px;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    color: #757575;
    font-weight: bold;
}

.planilha-content.show {
    display: block;
}

.navigation-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #29B3A8;
    color: #fff;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

#btnCadastro {
    left: 10px;
}

#btnCadastrado {
    right: 10px;
}

.navigation-button:hover {
    background-color: #757575;
}

#cadastro-content {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 40px 20px 20px 20px;
    /* Aumentar o padding-top */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 400px;
    margin: 40px auto;
    /* Reduzir a margem superior para compensar o aumento do padding */
    text-align: center;
    overflow-y: auto;
    max-height: 90vh;
}

#cadastro-content h2 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 0;
    /* Remover margem superior */
    color: #29B3A8;
    text-align: center;
}

#template-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Alterado de 'flex-start' para 'center' */
    width: 100%;
}

#template-form label {
    margin-bottom: 10px;
    font-weight: bold;
    color: #29B3A8;
    text-align: center;
    /* Alterado de 'left' para 'center' */
}

#template-form select,
#template-form input[type="text"],
#template-form input[type="number"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #29B3A8;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: center;
    /* Adicionado para centralizar o texto dentro dos campos */
}

#template-form button[type="submit"] {
    background-color: #29B3A8;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    width: 200px;
    margin: 0 auto;
}

#template-form button[type="submit"]:hover {
    background-color: #757575;
}

#cadastrado-content {
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    margin-top: 60px;
    height: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#cadastrado-content h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #29B3A8;
}

#search-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}

#search-box input[type="text"] {
    width: 10%;
    padding: 10px;
    border: 1px solid #29B3A8;
    border-radius: 5px;
    margin-right: 10px;
}

#search-box button {
    background-color: #29B3A8;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.search-icon {
    position: absolute;
    right: 92px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #29B3A8;
    cursor: pointer;
}

.template-list {
    list-style: none;
    padding: 0;
}

.template-list li {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.template-list li h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #29B3A8;
}

.template-list li p {
    font-size: 16px;
    color: #757575;
}

.pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    background-color: #29B3A8;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 5px;
}

.pagination button:hover {
    background-color: #757575;
}

.pagination button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.template-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: separate;
    border-spacing: 0;
}

.template-table th,
.template-table td {
    padding: 10px;
    text-align: center;
    color: #29B3A8;
}

.template-table th {
    background-color: #f0f0f0;
    font-weight: bold;
    color: #757575;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.template-table td {
    background-color: #fff;
    color: #757575;
    font-weight: bold;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.template-table td a {
    text-decoration: none;
    color: #29B3A8;
}

.template-table td a:hover {
    text-decoration: underline;
}

.pagination-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.pagination-number {
    background-color: #fff;
    color: #757575;
    border: 1px solid #ccc;
    width: 25px;
    height: 25px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pagination-number:hover {
    background-color: #f0f0f0;
}

.current-page {
    background-color: #29B3A8;
    color: #fff;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2000;
    overflow-y: auto;
}

.modal-content {
    background-color: #FFFFFF;
    margin: 15% auto;
    padding: 20px;
    border-radius: 5px;
    width: 60%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
    font-size: 24px;
    line-height: 1;
    padding: 0;
    color: #757575;
}

.close-button:hover {
    color: #29B3A8;
}

.modal-content button[type="submit"] {
    margin-top: 20px;
    align-self: flex-end;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    max-width: 300px;
    margin: 0 auto;
}

.colunas-container {
    height: 200px;
    /* Altura fixa */
    overflow-y: scroll;
    /* Sempre mostrar a barra de rolagem */
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#preview-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    align-items: center;
    justify-content: center;
}

#preview-content,
#preview-content * {
    box-sizing: border-box;
    /* Isso garante que o padding e a borda não adicionem ao tamanho total */
}

#preview-content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    max-width: 80%;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#preview-content ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    flex-wrap: no-wrap;
}

#preview-content li {
    padding: 10px;
    border-bottom: 1px solid #e5e5e5;
    font-size: 16px;
    color: #333;
}

#close-preview-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #999;
}

#close-preview-modal:hover {
    color: #333;
}

.removeField {
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
}

.removeField:hover {
    background-color: #d32f2f;
}

.preview-columns {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.preview-column {
    margin: 0 5px;
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
}

/* Resetando as margens padrão e definindo margem à esquerda para a primeira coluna */
.preview-column:first-child {
    margin-left: 0;
}

/* Adiciona uma margem à direita para a última coluna */
.preview-column:last-child {
    margin-right: 10px;
}

/* Resetando as margens e padding padrão do elemento UL */
#preview-content ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.save-button-container {
    margin-top: 20px;
    text-align: center;
}

#preview-modal button[type="submit"] {
    background-color: #29B3A8;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

#preview-modal button[type="submit"]:hover {
    background-color: #757575;
}

/* Icones de download e upload */
.download-upload-icon {
    font-size: 19px;
}

.icon-active {
    color: rgb(84, 112, 84);
    cursor: pointer;
}

.icon-inactive {
    color: rgb(194, 9, 9);
    cursor: not-allowed;
}

/* Estilos para o modal de upload */
#upload-modal {
    display: none;
    position: fixed;
    z-index: 2000;
    /* Acima de outros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    animation: fadeIn 0.3s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#upload-modal .modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 50%;
    /* Ajuste a largura conforme necessário */
    max-width: 500px;
    /* Uma largura máxima para telas grandes */
}

#upload-modal .close-modal {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    background: none;
    border: none;
}

#upload-modal .close-modal:hover,
#upload-modal .close-modal:focus {
    color: #29B3A8;
}

#upload-modal h2 {
    color: #29B3A8;
    margin-bottom: 20px;
}

#upload-modal .file-upload-container {
    margin-bottom: 20px;
    text-align: left;
}

#upload-modal .file-upload-container label {
    display: block;
    color: #29B3A8;
    font-weight: bold;
    margin-bottom: 10px;
}

#upload-modal .file-upload-container input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

#upload-modal .modal-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
}

#upload-modal .modal-buttons button {
    background-color: #29B3A8;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s;
}

#upload-modal .modal-buttons button:hover {
    background-color: #1e8c81;
}

#upload-modal .modal-buttons button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

#upload-status-message {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    /* Inicialmente escondido até que uma mensagem de status precise ser exibida */
    display: none;
}

/* Estilos específicos para diferentes tipos de mensagens */
.status-error {
    background-color: #f8d7da;
    color: #721c24;
}

.status-validating {
    background-color: #fff3cd;
    color: #856404;
}

.status-approved {
    background-color: #d4edda;
    color: #155724;
}