body.common-bg {
    background-color: #f0f0f0;
    background-image: linear-gradient(to bottom, #00A651, #7D9393);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right top;
    overflow: hidden;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: right;
    padding: 20px;
}

header img {
    max-width: 200px;
}

.welcome-img,
.welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100%;
    margin-left: 175px;
}

.sidebar {
    width: 175px;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.user-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ccc;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 40px;
    height: 40px;
    background-color: #29B3A8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.user-name {
    font-weight: bold;
    margin-bottom: 5px;
    color: #757575;
}

.user-permission {
    color: #555;
    font-size: 14px;
    margin-bottom: 20px;
    color: #757575;
}

.menu-title {
    font-weight: bold;
    font-size: 20px;
    margin-top: auto;
    margin-bottom: 10px;
    color: #757575;
}

.menu-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #757575;
}

.menu-icon {
    font-size: 24px;
    margin-bottom: 10px;
    color: #757575;
    cursor: pointer;
    position: relative;
}

.menu-icon.active .menu-indicator {
    width: 50%;
    height: 2px;
    background-color: #757575;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
}

.menu-icon.active .menu-indicator {
    background-color: #757575;
}

.logout-button {
    margin-top: auto;
}

.logout-button button {
    background-color: #29B3A8;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 55px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
}

.logout-button button .icon {
    margin-left: 10px;
}

.logout-button button:hover {
    background-color: #1e8c81;
}

.page {
    display: none;
}

.page.active {
    display: block;
}

.planilha-content {
    background-color: #D9D9D9;
    position: fixed;
    top: 60%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 1191px;
    height: 700px;
    padding: 20px;
    text-align: center;
    display: none;
    z-index: 1000;
}

.planilha-content h1 {
    font-size: 24px;
    margin-bottom: 20px;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    color: #757575;
    font-weight: bold;
}

.planilha-content.show {
    display: block;
}

.navigation-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #29B3A8; 
    color: #fff; 
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 10px; 
    border-radius: 5px; 
    font-weight: bold;
    transition: background-color 0.3s ease; 
}

#btnCadastro {
    left: 10px;
}

#btnCadastrado {
    right: 10px; 
}

.navigation-button:hover {
    background-color: #757575; 
}

#cadastro-content {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    height: 80%;
    width: 400px;
    margin: 60px auto;
    text-align: center;
}

#cadastro-content h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #29B3A8;
    text-align: center; 
}

#template-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    width: 100%;
}

#template-form label {
    margin-bottom: 10px;
    font-weight: bold;
    color: #29B3A8;
    text-align: left; 
}

#template-form select,
#template-form input[type="text"],
#template-form input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #29B3A8;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
}

#template-form button[type="submit"] {
    background-color: #29B3A8;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    width: 200px;
    margin: 0 auto;
}

#template-form button[type="submit"]:hover {
    background-color: #757575;
}

#cadastrado-content {
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    margin-top: 60px;
    height: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

#cadastrado-content h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center; 
    color: #29B3A8;
}


#search-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}

#search-box input[type="text"] {
    width: 10%;
    padding: 10px;
    border: 1px solid #29B3A8;
    border-radius: 5px;
    margin-right: 10px;
}

#search-box button {
    background-color: #29B3A8;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

/* Estilização do ícone de lupa */
.search-icon {
    position: absolute;
    right: 92px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem; /* Tamanho do ícone de lupa */
    color: #29B3A8;
    cursor: pointer;
}


.template-list {
    list-style: none;
    padding: 0;
}

.template-list li {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
}

.template-list li h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #29B3A8;
}

.template-list li p {
    font-size: 16px;
    color: #757575;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    background-color: #29B3A8;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 5px;
}

.pagination button:hover {
    background-color: #757575;
}