body.common-bg {
    background-color: #f0f0f0;
    background-image: linear-gradient(to bottom, #00A651, #7D9393);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right top;
    overflow: hidden;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: right;
    padding: 20px;
}

header img {
    max-width: 200px;
}

.welcome-img {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100%;
    margin-left: 175px;
}

.sidebar {
    width: 175px;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.user-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ccc;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 40px;
    height: 40px;
    background-color: #29B3A8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.user-name {
    font-weight: bold;
    margin-bottom: 5px;
    color: #757575;
}

.user-permission {
    color: #555;
    font-size: 14px;
    margin-bottom: 20px;
    color: #757575;
}

.menu-title {
    font-weight: bold;
    font-size: 20px;
    margin-top: auto;
    margin-bottom: 10px;
    color: #757575;
}

.menu-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #757575;
}

.menu-icon {
    font-size: 24px;
    margin-bottom: 10px;
    color: #757575;
    cursor: pointer;
}

.menu-icon.current {
    color: #757575;
    position: relative;
}

.menu-icon.current::after {
    content: "";
    display: block;
    width: 40%;
    height: 2px;
    background-color: #757575;
    position: absolute;
    bottom: 0;
    left: 30%;
}

.logout-button {
    margin-top: auto;
}

.logout-button button {
    background-color: #29B3A8;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 55px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
}

.logout-button button .icon {
    margin-left: 10px;
}

.logout-button button:hover {
    background-color: #1e8c81;
}