body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom, #00A651, #7D9393);
    overflow: hidden; 
}

header {
    text-align: right; 
    padding: 20px;
}

header img {
    max-width: 200px;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.about-login {
    text-align: center;
    padding: 20px;
    margin-right: 100px;
}

.about-login img {
    display: block;
    margin-bottom: 10px;
}

#planilha {
    width: 110px; 
    height: 110px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

#texto {
    width: 500px; 
    height: 130px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.login {
    background-color: transparent; 
    border: none; 
    padding: 10px;
    text-align: center;
    width: 300px;
    margin-top: 20px; 
    position: relative;
}

.login label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
    color: #355B3E;
}

.login input[type="email"],
.login input[type="password"] {
    width: 93%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    position: relative;
    color: #029664;
    font-family: "Arial", sans-serif;
    font-weight: bold;
}

.login input:focus,
.login input:active {
    outline: none; 
    border: 1px solid #ccc; 
}

.links_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.links_content label {
    margin: 0;
}

.links_content a {
    text-decoration: none;
    color: #355B3E;
    font-weight: bold;
}

.button-login {
    margin: 15px auto 0; 
}

.button-login button[type="submit"] {
    background-color: #029664;
    color: #B8D6BF;
    border: none;
    border-radius: 4px;
    width: 250px;
    height: 43px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 15px;
    transition: background-color 0.3s ease;
}

.button-login button:hover {
    background-color: #1b8166;
}

.button-login button i.bi-box-arrow-in-right {
    font-size: 20px; 
    color: #B8D6BF; 
    font-weight: bold; 
    vertical-align: middle;
}

.bi-eye-fill {
    cursor: pointer;
    font-size: 20px;
    margin-left: 5px;
    position: absolute;
    right: 20px;
    top: 50%;
    color: #95B29B;
    transform: translateY(-80%); 
}

.bi-eye-fill:hover {
    color: #029664;
}

