<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../../../public/css/commons/homeCommons.css">
    <link rel="stylesheet" href="../../../public/css/administrator/dashboard.css">
    <title>Home do Administrador</title>
</head>

<body class="common-bg">
    <header>
        <img src="/public/images/png/logo 1.png" alt="logo quero quero">
    </header>

    <div class="welcome-container">
        <div class="welcome-img">
            <img class="centered-image" src="../../../public/images/png/bemvindo.png" alt="Imagem Bem vindo">
        </div>
    </div>

    <div class="sidebar">
        <div class="user-photo">
            <div class="circle">
                <i class="bi bi-plus"></i>
            </div>
        </div>
        <div class="user-name">Nome do Usuário</div>
        <div class="user-permission">Nível de Permissão</div>
        <div class="menu-title">Menu</div>
        <div class="menu-icons">
            <div class="menu-icon current" onclick="showPage('home')" data-page="home">
                <i class="bi bi-house-door"></i>
                <div class="menu-indicator"></div>
            </div>
            <div class="menu-icon" onclick="showPage('planilha')" data-page="planilha">
                <i class="bi bi-file-earmark-spreadsheet"></i>
                <div class="menu-indicator"></div>
            </div>
            <div class="menu-icon" onclick="showPage('dashboard')" data-page="dashboard">
                <i class="bi bi-bar-chart"></i>
                <div class="menu-indicator"></div>
            </div>
            <div class="menu-icon" onclick="showPage('settings')" data-page="settings">
                <i class="bi bi-gear"></i>
                <div class="menu-indicator"></div>
            </div>
            <!-- Adicione mais ícones conforme necessário -->
            <div class="menu-icon" onclick="showPage('nova-tela')" data-page="nova-tela">
                <i class="bi bi-plus"></i>
                <div class="menu-indicator"></div>
            </div>
            <div class="menu-icon" onclick="showPage('outra-tela')" data-page="outra-tela">
                <i class="bi bi-star"></i>
                <div class="menu-indicator"></div>
            </div>
        </div>

        <div class="logout-button">
            <button type="button">
                Logout
                <span class="icon">
                    <i class="bi bi-box-arrow-left"></i>
                </span>
            </button>
        </div>
    </div>

    <div id="planilha" class="page">
        <div class="planilha-content">

            <button class="navigation-button" id="btnCadastro">Ir para Cadastrar template</button>
            <button class="navigation-button" id="btnCadastrado">Ir para Templates Cadastrados</button>
            
            <div class="content active-content" id="cadastro-content">
                <h2>Cadastrar Template</h2>
                <form id="template-form">
                    <div>
                        <label for="tipo-arquivo">Tipo de Arquivo:</label>
                        <select id="tipo-arquivo" name="tipo-arquivo">
                            <option value="">Tipo de arquivo</option>
                            <option value="xls">XLS</option>
                            <option value="xlsx">XLSX</option>
                            <option value="csv">CSV</option>
                        </select>
                    </div>
                    <div>
                        <label for="nome-template">Nome do Template:</label>
                        <input type="text" id="nome-template" name="nome-template" required>
                    </div>
                    <div>
                        <label for="num-colunas">Número de Colunas:</label>
                        <input type="number" id="num-colunas" name="num-colunas" required>
                    </div>
                    <div>
                        <label for="nome-coluna">Nome da Coluna:</label>
                        <input type="text" id="nome-coluna" name="nome-coluna" required>
                    </div>
                    <button type="submit">Cadastrar</button>
                </form>
            </div>
            

            <div class="content" id="cadastrado-content">
                <h2>Templates Cadastrados</h2>
                <div id="search-box">
                    <span class="search-icon"><i class="bi bi-search"></i></span>
                    <input type="text" placeholder="Pesquisar por ID">
                    <button>Pesquisar</button>
                </div>

                <table class="template-table">
                    <thead>
                        <tr>
                            <th>Nome do Template</th>
                            <th>Extensão</th>
                            <th>Matrícula</th>
                            <th>ID</th>
                            <th>Email</th>
                            <th>Downloads</th>
                            <th>Uploads</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody id="template-list">
                        <!-- Os templates serão adicionados dinamicamente aqui -->
                    </tbody>
                </table>

                <div class="pagination" id="pagination">
                    <ul class="pagination-list" id="pagination-list">
                        <!-- Os botões de página serão adicionados dinamicamente aqui -->
                    </ul>
                </div>                
                
            </div>
        </div>
    </div>

    <div id="dashboard" class="page">
        <div class="dashboard-content">
            <div class="content active-content" id="dashboard-content">
                <h2>Visão geral dos templates</h2>
                <!-- Deixe esta div em branco -->
            </div>
        </div>
    </div>    

    <div id="settings" class="page">
        <!-- Conteúdo da página Configurações do Administrador -->
        <h1>Configurações da Conta</h1>
        <p>Personalize as configurações da sua conta de administrador aqui.</p>
    </div>

    <!-- Nova tela replicada da tela de "Planilha" -->
    <div id="nova-tela" class="page">
        <h1>Nova Tela</h1>
        <p>Conteúdo da nova tela aqui...</p>
    </div>

    <!-- Outra tela replicada da tela de "Planilha" -->
    <div id="outra-tela" class="page">
        <h1>Outra Tela</h1>
        <p>Conteúdo de outra tela aqui...</p>
    </div>

    <script src="../../../public/js/commons/commons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../../../public/js/commons/pagination.js"></script>
</body>

</html>
