<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../../../public/css/commons/homeCommons.css">
    <title>Home do Usuário</title>
</head>
<body class="common-bg">
    <header>
        <img src="/public/images/png/logo 1.png" alt="logo quero quero">
    </header>

    <div class="welcome-container">
        <div class="welcome-img">
            <img class="centered-image" src="../../../public/images/png/bemvindo.png" alt="Imagem Bem vindo">
        </div>
    </div>

    <div class="sidebar">
        <div class="user-photo">
            <div class="circle">
                <i class="bi bi-plus"></i>
            </div>
        </div>
        <div class="user-name">Nome do Usuário</div>
        <div class="user-permission">Nível de Permissão</div>
        <div class="menu-title">Menu</div>

        <div class="menu-icons">
            <div class="menu-icon" onclick="showPage('home')" data-page="home">
                <i class="bi bi-house-door"></i>
                <div class="menu-indicator"></div>
            </div>
            <div class="menu-icon" onclick="showPage('planilha')" data-page="planilha">
                <i class="bi bi-file-earmark-spreadsheet"></i>
                <div class="menu-indicator"></div>
            </div>
            <!-- Adicione mais ícones conforme necessário -->
        </div>

        <div class="logout-button">
            <button type="button">
                Logout 
                <span class="icon">
                    <i class="bi bi-box-arrow-left"></i>
                </span>
            </button>
        </div>        
    </div>

    <!-- Conteúdo das páginas -->
    <div id="home" class="page">
        <h1>Cadastre ou procure template</h1>
        <!-- Conteúdo da página Home -->
    </div>

    <div id="planilha" class="page">
        <!-- Conteúdo da página Planilha -->
        <p>Informações da Planilha</p>
    </div>
    
    <script src="../../../public/js/commons/commons.js"></script>
</body>
</html>
