<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/public/css/login/login.css">
    <title>Bê á Bá</title>
</head>
<body>
    <header>
        <img src="/public/images/png/logo 1.png" alt="logo quero quero">
    </header>

    <div class="main-container">
        <div class="about-login">
            <img id="planilha" src="/public/images/png/excel.png" alt="imagem planilha">
            <img id="texto" src="/public/images/png/text.png" alt="Imagem texto bem vindo">
        </div>

        <div class="login">
            <label for="user_email">Email </label>
            <input type="email" id="user_email" placeholder="Email do usuário aqui!">
            <label for="user_password">Senha </label>
            <div style="position: relative;">
                <input type="password" id="user_password" placeholder="Senha do usuário aqui!">
                <button type="button" class="eye-button" id="password-toggle">
                    <i class="bi bi-eye-fill"></i>
                </button>
            </div>
              
            <div class="links_content">
                <label>
                    <input type="checkbox" name="lembrar-me"> Lembrar-me
                </label>
                <a href="esqueceu-senha.html">Esqueceu sua senha?</a>
            </div>

            <div class="button-login">
                <button type="submit">
                    Login <i class="bi bi-box-arrow-in-right"></i>
                </button>
            </div>
        </div>
    </div>
    <script src="/public/js/login.js"></script>
</body>
</html>
