/* CSS BOX USER SETTINGS */
#user-settings {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#user-settings-content {
    background-color: #D9D9D9;
    position: fixed;
    top: 60%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 1191px;
    height: 700px;
    padding: 20px;
    text-align: center;
    display: none;
    z-index: 1000;
}

#user-settings-content h2 {
    font-size: 24px;
    margin-bottom: 20px;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    color: #29B3A8;
    font-weight: bold;
}

.user-settings-content.show #user-settings-content {
    display: block;
}

/* CSS ACIMA É A BASE BOX USER SETTINGS */

/*  Formulário de cadastro do usuário    */
#user-settings-content h2 {
    font-size: 24px;
    margin-bottom: 20px;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    color: #29B3A8;
    font-weight: bold;
}

#user-settings-content .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.section form {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}

.form-group {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group label {
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
    color: #29B3A8;
    font-weight: bold;
}

.form-group input,
.form-group select { 
    width: 60%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Especificidade aumentada para o botão */
.form-group button[type="submit"] {
    background-color: #29B3A8;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 8px;
}

.form-group button[type="submit"]:hover {
    background-color: #1F8A7E;
}

#user-settings-content h3 {
    color: #29B3A8;
}

/* NAVEGAÇÃO INTERNA */
.arrow-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;   
    width: 100%;          
    bottom: 20px;         
}

.arrow-navigation button {
    background-color: #29B3A8;
    color: #ffffff;
    padding: 8px 15px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
}

.arrow-navigation button:hover {
    background-color: #1F8A7E;
    transform: scale(1.05);
}

.arrow-navigation button:active {
    transform: scale(0.95);
}

.arrow-navigation button:focus {
    outline: none;
}

/* Estilos específicos para a seção de Buscar Usuário por Matrícula */
#id-section-search-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#id-search-title {
    color: #29B3A8;
}

#id-search-form {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}

#id-search-form label {
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
    color: #29B3A8;
    font-weight: bold;
}

#id-search-form input,
#id-search-form button {
    width: 60%; 
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#id-search-button {
    background-color: #29B3A8;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
}

#id-search-button:hover {
    background-color: #1F8A7E;
}

#id-search-result {
    display: none;
    width: 70%;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
}

#id-result-title {
    color: #29B3A8;
    margin-bottom: 10px;
}

#id-result-details-form .form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#id-result-details-form .form-group label {
    width: 30%;
    text-align: right;
    margin-right: 10px;
    color: #29B3A8;
    font-weight: bold;
}

#id-result-details-form .form-group input {
    width: 65%; 
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}


/* Buscar Todos os Usuários */
.users-table-container {
    max-height: 400px; 

    overflow-y: auto; 
    border-radius: 10px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    margin-top: 20px; 
}

.users-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f9f9f9; 
}

.users-table th {
    background-color: #29B3A8; 
    color: #ffffff; 
    font-weight: 500; 
    letter-spacing: 0.5px;
}

.users-table th, .users-table td {
    border: 1px solid #e0e0e0; 
    padding: 12px 8px; 
    text-align: left;
}

.users-table tr:hover {
    background-color: #e6f2f5; 
}

.users-table td {
    font-size: 14px; 
}

.users-table td.action-cell {
    text-align: right; 
    font-weight: 500; 
}

.users-table td.photo-url {
    max-width: 250px; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* Estilos específicos para a seção de Deletar Usuário por Matrícula */
#section-delete-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#section-delete-user form {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}

#section-delete-user label {
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
    color: #29B3A8;
    font-weight: bold;
}

#section-delete-user input {
    width: 60%; 
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#section-delete-user button {
    background-color: #29B3A8;
    color: #ffffff;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 8px;
}

#section-delete-user button:hover {
    background-color: #1F8A7E;
}


/* Estilos específicos para a seção de Alterar Acesso do Usuário */
#section-update-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

#section-update-user h3 {
    color: #29B3A8;
    margin-bottom: 20px;
}

#form-update-access {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}

#form-update-access .form-group {
    width: 100%;
    margin-bottom: 15px;
}

#form-update-access .form-group label {
    display: block;
    text-align: center;
    color: #29B3A8;
    font-weight: bold;
    margin-bottom: 5px;
}

#form-update-access .form-group input[type="text"],
#form-update-access .form-group select {
    width: 60%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

#btn-update-access {
    background-color: #29B3A8;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 60%;
    transition: background-color 0.3s;
    margin-top: 8px;
}

#btn-update-access:hover {
    background-color: #1F8A7E;
}

/* Estilos específicos para a Seção de Perfil de Usuário */
#section-user-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 20px;
}

#section-user-profile h3 {
    color: #29B3A8;
    margin-bottom: 20px;
}

#section-user-profile .form-group {
    width: 50%;
    margin-bottom: 15px;
}

#section-user-profile .form-group label {
    display: block;
    text-align: center;
    color: #29B3A8;
    font-weight: bold;
    margin-bottom: 5px;
}

#section-user-profile .form-group input[type="url"] {
    width: 60%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#section-user-profile .form-group img {
    max-width: 200px; /* Ou qualquer tamanho que você desejar para o preview da foto */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 5px; /* Se você quiser cantos arredondados */
    margin-top: 10px;
}

#section-user-profile .form-group button {
    background-color: #29B3A8;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 60%;
    transition: background-color 0.3s;
    margin-top: 8px;
}

#section-user-profile .form-group button:hover {
    background-color: #1F8A7E;
}
