/* CSS BOX USER SETTINGS */
#user-settings {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#user-settings-content {
    background-color: #D9D9D9;
    position: fixed;
    top: 60%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 1191px;
    height: 700px;
    padding: 20px;
    text-align: center;
    display: none;
    z-index: 1000;
}

#user-settings-content h2 {
    font-size: 24px;
    margin-bottom: 20px;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    color: #29B3A8;
    font-weight: bold;
}

.user-settings-content.show #user-settings-content {
    display: block;
}