/* CSS BOX USER SETTINGS */
#user-settings {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#user-settings-content {
    background-color: #D9D9D9;
    position: fixed;
    top: 60%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 1191px;
    height: 700px;
    padding: 20px;
    text-align: center;
    display: none;
    z-index: 1000;
}

#user-settings-content h2 {
    font-size: 24px;
    margin-bottom: 20px;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    color: #29B3A8;
    font-weight: bold;
}

.user-settings-content.show #user-settings-content {
    display: block;
}

/* CSS ACIMA É A BASE BOX USER SETTINGS */

/*  Formulário de cadastro do usuário    */
#user-settings-content h2 {
    font-size: 24px;
    margin-bottom: 20px;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    color: #29B3A8;
    /* Cor ajustada para o título "Cadastro de usuário" */
    font-weight: bold;
}

#user-settings-content .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.section form {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    /* Reduzir o padding para diminuir a altura total */
}

.form-group {
    width: 100%;
    margin-bottom: 10px;
    /* Reduzir a margem para diminuir o espaço entre os campos */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group label {
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
    color: #29B3A8;
    /* Cor ajustada para os rótulos dos inputs */
    font-weight: bold;
}

.form-group input {
    width: 60%;
    padding: 5px;
    /* Reduzir o padding para diminuir a altura do campo de entrada */
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Especificidade aumentada para o botão */
.form-group button[type="submit"] {
    background-color: #29B3A8;
    /* Cor ajustada para o botão */
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 8px;
}

.form-group button[type="submit"]:hover {
    background-color: #1F8A7E;
    /* Uma tonalidade um pouco mais escura para o efeito hover */
}

#user-settings-content h3 {
    color: #29B3A8;
}


/*  NAVEGAÇÃO INTERNA    */
